In [1]:
import pandas as pd

In [4]:
a = pd.read_csv('/home/r201870087ja/Downloads/中間層データ（固定長）.csv')

In [5]:
a

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,20.00,47.80,0.0
1,0.00,7.08,21.50,35.50,0.00,0.0,17.1,62.3,0.00,0.0,0.0,56.4,11.70,0.00,0.00,0.0
2,0.00,0.00,0.00,7.01,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.0
3,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,13.60,0.0,0.0,0.0,4.23,0.00,4.37,0.0
4,23.80,0.00,2.92,0.00,7.09,0.0,0.0,0.0,0.00,0.0,0.0,0.0,6.76,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51195,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.0
51196,1.34,0.00,0.00,0.00,35.70,24.4,0.0,0.0,9.81,22.2,19.2,0.0,1.09,0.00,2.35,0.0
51197,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.0
51198,10.30,35.30,75.10,73.20,85.60,114.0,93.5,83.7,135.00,183.0,151.0,106.0,87.70,204.00,194.00,179.0
51199,0.00,21.20,0.00,0.00,0.00,79.7,31.7,0.0,0.00,65.0,15.5,0.0,0.00,6.31,0.00,0.0

In [11]:
print(a.duplicated(subset=['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15']))

0        False
1        False
2        False
3        False
4        False
         ...
51195     True
51196    False
51197     True
51198    False
51199    False
Length: 51200, dtype: bool

In [8]:
print(a.duplicated())#重複した行はTrue

0        False
1        False
2        False
3        False
4        False
         ...
51195     True
51196    False
51197     True
51198    False
51199    False
Length: 51200, dtype: bool

In [9]:
print(a[a.duplicated()])#13378行重複してる

       Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
10            0.0         0.0         0.0         0.0         0.0         0.0
14            0.0         0.0         0.0         0.0         0.0         0.0
22            0.0         0.0         0.0         0.0         0.0         0.0
28            0.0         0.0         0.0         0.0         0.0         0.0
30            0.0         0.0         0.0         0.0         0.0         0.0
...           ...         ...         ...         ...         ...         ...
51185         0.0         0.0         0.0         0.0         0.0         0.0
51191         0.0         0.0         0.0         0.0         0.0         0.0
51192         0.0         0.0         0.0         0.0         0.0         0.0
51195         0.0         0.0         0.0         0.0         0.0         0.0
51197         0.0         0.0         0.0         0.0         0.0         0.0

       Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  \
10            0.0         0.0         0.0         0.0          0.0
14            0.0         0.0         0.0         0.0          0.0
22            0.0         0.0         0.0         0.0          0.0
28            0.0         0.0         0.0         0.0          0.0
30            0.0         0.0         0.0         0.0          0.0
...           ...         ...         ...         ...          ...
51185         0.0         0.0         0.0         0.0          0.0
51191         0.0         0.0         0.0         0.0          0.0
51192         0.0         0.0         0.0         0.0          0.0
51195         0.0         0.0         0.0         0.0          0.0
51197         0.0         0.0         0.0         0.0          0.0

       Unnamed: 11  Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15
10             0.0          0.0          0.0          0.0          0.0
14             0.0          0.0          0.0          0.0          0.0
22             0.0          0.0          0.0          0.0          0.0
28             0.0          0.0          0.0          0.0          0.0
30             0.0          0.0          0.0          0.0          0.0
...            ...          ...          ...          ...          ...
51185          0.0          0.0          0.0          0.0          0.0
51191          0.0          0.0          0.0          0.0          0.0
51192          0.0          0.0          0.0          0.0          0.0
51195          0.0          0.0          0.0          0.0          0.0
51197          0.0          0.0          0.0          0.0          0.0

[13378 rows x 16 columns]

In [13]:
print(a.duplicated().value_counts())#Falseは重複を除いた行の数なので、全部足すと51200

False    37822
True     13378
dtype: int64

In [15]:
print(a.duplicated().value_counts()[True])

13378

In [ ]:
pd.set_option('display.max_rows', 51250)#表示する行数の指定（jupyterで無理やり表示するため）

In [31]:

ret_df = a.groupby(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15']).size()
print(ret_df)#多すぎてエラー、IPythonは動くけど見づらい

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [33]:
ret_df.to_csv('カウント_3.csv')#Excelで表示するためにCSVで保存

/home/r201870087ja/anaconda3/envs/py3_5/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.